<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .plugin-menu{
        float: right;
        list-style: none;
    }
    .plugin-menu li{
        float: left;
        margin-left: 10px;
    }
    .plugin-menu li a{
        text-decoration: underline;
    }
    ul.setting-links{
        list-style: none;
        padding: 0;
        margin: 7px 0 0 0;
    }
    ul.setting-links li{
        padding-bottom: 5px;
    }
    ul.setting-links li a{
        font-size: 1.03em;
        font-weight: bold;
        color: #777;
    }
    ul.setting-links li a:hover{
        color: #000 !important;
    }
</style>
<h1>Заказ на одной странице</h1>

<ul class="plugin-menu">
    <li><a target="_blank" href="http://www.webasyst.ru/store/plugin/shop/onestep/reviews/"><i class="icon16 star"></i>Оставить отзыв о плагине</a></li>
    <li><a href="mailto:support@wa-plugins.ru"><i class="icon16 ss pt hammer"></i>Поддержка</a></li>
    <li><a target="_blank" href="http://wa-plugins.ru/"><i class="icon16 ss pt globe"></i>WA-PLUGINS.ru - сайт разработчика</a></li>
</ul>

<div class="fields form">
    <form action="?plugin=onestep&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}
        <div class="field-group">
            <div class="field">
                <div class="name">
                    Оформление заказа
                </div>
                <div class="value">
                    <ul class="setting-links">
                        <li><a target="_blank" href="?action=settings#/checkout/"><i class="icon16 ss cart-bw"></i>Настройка шагов оформления заказа</a></li>
                        <li><a target="_blank" href="?action=settings#/shipping/"><i class="icon16 ss shipping-bw"></i>Настройка способов доставки</a></li>
                        <li><a target="_blank" href="?action=settings#/payment/"><i class="icon16 ss payment-bw"></i>Настройка способов оплаты</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="field-group">
            <div class="field">
                <div class="name">
                    Статус плагина
                </div>
                <div class="value no-shift s-ibutton-checkbox">
                    <input type="hidden" name="shop_onestep[status]" value="0">
                    <input type="checkbox" class="ibutton-status" name="shop_onestep[status]" value="1"{if $settings.status} checked{/if}>
                </div>
            </div>
        </div>


        {$tpls = []}
        {foreach $domain_routes as $domain => $routes}
            {foreach $routes as $route}
                {$domain_route = "`$domain`/`$route.url`"}
                {$domain_hash = md5($domain_route)}
                {$setting = $domains_settings[$domain_hash]}
                {$templates = $setting.templates}

                <div class="domain-route"{if empty($settings.status)} style="display:none;"{/if}>
                    <div class="field-group">

                        <div class="field">
                            <h2>Поселение: {$domain_route}</h2>
                            <div class="name">
                                Статус
                            </div>
                            <div class="value">
                                <input type="hidden" name="domains_settings[{$domain_hash}][status]" value="0">
                                <input type="checkbox" class="ibutton-status" name="domains_settings[{$domain_hash}][status]" value="1"{if $setting.status} checked{/if}>
                            </div>
                        </div>
                    </div>

                    <div class="field-group"{if empty($setting.status)} style="display:none;"{/if}>

                        <div class="field">
                            <div class="name">
                                Только для ПК
                            </div>
                            <div class="value">
                                <input type="checkbox"{if $setting.desktop_only|default:0} checked="checked"{/if} name="domains_settings[{$domain_hash}][desktop_only]" value="1" />
                                <p class="hint">
                                    Плагин работает только для настольных компьютеров и отключается для мобильных устройств.<br/> 
                                    Для мобильных работает стандартная корзина.
                                </p>
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">
                                Адрес страницы
                            </div>
                            <div class="value">
                                <input type="text" name="domains_settings[{$domain_hash}][page_url]" value="{$setting.page_url|escape}" />
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">
                                Заголовок страницы
                            </div>
                            <div class="value">
                                <input type="text" name="domains_settings[{$domain_hash}][page_title]" value="{$setting.page_title|escape}" />
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">
                                Минимальная сумма заказа
                            </div>
                            <div class="value">
                                <input type="text" name="domains_settings[{$domain_hash}][min_sum]" value="{$setting.min_sum|escape}"  />
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">
                                Использовать проверку заполнения обязательных полей формы
                            </div>
                            <div class="value">
                                <input type="hidden" name="domains_settings[{$domain_hash}][validate]" value="0" />
                                <input type="checkbox" name="domains_settings[{$domain_hash}][validate]" value="1" {if $setting.validate}checked="checked"{/if} />
                            </div>
                        </div>
                    </div>

                    <div class="field-group"{if empty($setting.status)} style="display:none;"{/if}>

                        <div class="field">
                            <a class="edit-templates" href="#"><i class="icon16 edit"></i>Шаблоны</a>
                        </div>

                        <div class="templates-block">
                            {foreach from=$templates key=key item=template}
                                {$tpl_type = 'html'}
                                {if $template.tpl_ext == 'js'}
                                    {$tpl_type = 'javascript'}
                                {/if}
                                {$tpls[] = ['id' => "sf-template-`$key`-`$domain_hash`", 'type' => $tpl_type]}
                                <div class="field">
                                    <div class="name">
                                        {$template.name}<br /><span class="hint">HTML + Smarty</span>
                                    </div>
                                    <div class="value no-shift">
                                        <a class="edit-template" href="#"><i class="icon16 edit"></i>Изменить шаблон</a>
                                        <div class="template-block">
                                            <textarea id="sf-template-{$key}-{$domain_hash}"  class="body" name="domains_settings[{$domain_hash}][templates][{$key}][template]">{$template.template|escape}</textarea>

                                            {if $template.change_tpl}
                                                <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                                                <input type="checkbox" name="domains_settings[{$domain_hash}][templates][{$key}][reset_tpl]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
                                            {/if}

                                        </div>
                                    </div>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                    <hr>
                </div>
            {/foreach}
        {/foreach}


        <div class="field"{if !$settings.status} style="display:none"{/if}>
            <div class="value">
                <input type="checkbox" name="reset" value="1"  /> - Сбросить все изменения
            </div>
        </div>

        <div class="field"{if !$settings.status} style="display:none"{/if}>
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                    <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                </span>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.ibutton-status').iButton({
            labelOn: "", labelOff: "", className: 'mini'
        }).change(function () {
            var self = $(this);
            var enabled = self.is(':checked');
            if (enabled) {
                self.closest('.field-group').siblings().show(200);
            } else {
                self.closest('.field-group').siblings().hide(200);
            }
            var f = $("#plugins-settings-form");
            $.post(f.attr('action'), f.serialize());
        });
        var ids = {json_encode($tpls)};
        console.log(ids[0]);
        for (var i = 0; i < ids.length; i++) {
            var c = CodeMirror.fromTextArea(document.getElementById(ids[i].id), {
                mode: "text/" + ids[i].type,
                tabMode: "indent",
                height: "dynamic",
                lineWrapping: true
            });
            $(ids[i].id).change(function () {
                c.setValue($(this).val())
            });
            $(ids[i].id).submit(function () {
                var f = $(this);
                $.post(f.attr('action'), f.serialize(), function (response) {
                    if (response.status == 'ok') {
                        $('#wa-design-button').removeClass('red').addClass('green');
                        $("#wa-editor-status-fail").hide()
                        $("#wa-editor-status-ok span").html(response.data.message);
                        $("#wa-editor-status-ok").fadeIn('slow', function () {
                            $(this).fadeOut(1000);
                        });
                    } else {
                        $('#wa-design-button').removeClass('green').addClass('red');
                        $("#wa-editor-status-ok").hide();
                        $("#wa-editor-status-fail span").html(response.errors.join(', '));
                        $("#wa-editor-status-fail").fadeIn('slow');
                    }
                }, "json")
                return false;
            });
        }
        $('.template-block').hide();
        $('.edit-template').click(function () {
            var template = $(this).closest('.field').find('.template-block');
            if (template.is(':visible')) {
                template.hide();
            } else {
                template.show();
            }
            return false;

        });

        $('.templates-block').hide();
        $('.edit-templates').click(function () {
            var block = $(this).parent().next('.templates-block');
            if (block.is(':visible')) {
                block.hide();
            } else {
                block.show();
            }
            return false;
        });

    });
</script>
