<div class="field-group">
    <div class="field">
        <div class="name">
            Статус плагина для поселения
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[status]" value="0">
            <input type="checkbox" class="ibutton" name="route_settings[status]" value="1"{if $route_settings.status|default:0} checked{/if}>
            <p class="hint">Чтобы плагин работал для выбранного поселения необходимо задать "ВКЛ"</p>
        </div>
    </div>
</div>

<div class="field-group"{if !$route_settings.status|default:0} style="display:none;"{/if}>
    <div class="field">
        <div class="name">
            Режим
        </div>
        <div class="value">
            <input type="radio" name="route_settings[mode]" value=""{if $route_settings.mode|default:'' == ''} checked="checked"{/if} /> - корзина и оформление заказа
            <p class="hint">Плагин работает вместо стандартной корзины и всех шагов оформления заказа</p>
        </div>
        <div class="value">
            <input type="radio" name="route_settings[mode]" value="only_checkout"{if $route_settings.mode|default:'' == 'only_checkout'} checked="checked"{/if} /> - только оформление заказа
            <p class="hint">Плагин работает вместо оформления заказа, стандартная страница корзины плагином не изменяется</p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Определение города по IP-адресу
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[sxgeo]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.sxgeo|default:0} checked="checked"{/if} name="route_settings[sxgeo]" value="1" />
            <p class="hint">
                Плагин будет пытаться определить адрес покупателя по его IP-адресу.<br/>
                Плагин может определить страну, регион и город.
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Маска для телефона
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[is_phonemask]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.is_phonemask|default:0} checked="checked"{/if} name="route_settings[is_phonemask]" value="1" />
            <p class="hint">
                Ввод телефонного номера по маске.
            </p>
        </div>
    </div>
    <div class="field phonemask"{if !$route_settings.is_phonemask|default:0} style="display:none;"{/if}>
        <div class="name">
            Маска телефонного номера
        </div>
        <div class="value">
            <input type="text"name="route_settings[phonemask]" value="{$route_settings.phonemask|default:'+7(###)###-##-##'|escape}" />
            <p class="hint">
                Для номеров России используется маска <strong>+7(###)###-##-##</strong>
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Использовать проверку заполнения обязательных полей формы
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[validate]" value="0" />
            <input class="ibutton" type="checkbox" name="route_settings[validate]" value="1" {if $route_settings.validate|default:1}checked="checked"{/if} />
        </div>
    </div>
    <div class="field">
        <div class="name">
            Подтверждение заказа всегда на виду
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[sticky]" value="0" />
            <input class="ibutton" type="checkbox" name="route_settings[sticky]" value="1" {if $route_settings.sticky|default:0}checked="checked"{/if} />
        </div>
    </div>
    <div class="field">
        <div class="name">
            Подсказки для полей DaData API
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[is_dadata]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.is_dadata|default:0} checked="checked"{/if} name="route_settings[is_dadata]" value="1" />
            <p class="hint">
                Использовать серсис <a target="_blank" href="https://dadata.ru/">DaData.ru</a> для создания подсказак при заполнение полей адреса.<br/>
                <strong>При регистрации необходимо подтвердить email иначе подсказки могут не работать</strong>
            </p>
        </div>
    </div>
    <div class="field dadata"{if !$route_settings.is_dadata|default:0} style="display:none;"{/if}>
        <div class="name">
            DaData API-ключ
        </div>
        <div class="value">
            <input type="text"name="route_settings[dadata_key]" value="{$route_settings.dadata_key|default:''|escape}" />
            <p class="hint">
                API-ключ, который можно скопировать из личного кабинета сервиса <a target="_blank" href="https://dadata.ru/">DaData.ru</a>
            </p>
        </div>
    </div>
    <div class="field dadata"{if !$route_settings.is_dadata|default:0} style="display:none;"{/if}>
        <div class="value">
            <input type="hidden" name="route_settings[dadata_fio]" value="0" />
            <input type="checkbox"{if $route_settings.dadata_fio|default:0} checked="checked"{/if} name="route_settings[dadata_fio]" value="1" />
            Подсказки для полей ФИО
            <p class="hint">
                Подсказки для заполнения имени, фамилии, отчества
            </p>
        </div>
    </div>
    <div class="field dadata"{if !$route_settings.is_dadata|default:0} style="display:none;"{/if}>
        <div class="value">
            <input type="hidden" name="route_settings[dadata_email]" value="0" />
            <input type="checkbox"{if $route_settings.dadata_email|default:0} checked="checked"{/if} name="route_settings[dadata_email]" value="1" />
            Подсказки для поля E-mail
        </div>
    </div>
    <div class="field dadata"{if !$route_settings.is_dadata|default:0} style="display:none;"{/if}>
        <div class="value">
            <input type="hidden" name="route_settings[dadata_address]" value="0" />
            <input type="checkbox"{if $route_settings.dadata_address|default:0} checked="checked"{/if} name="route_settings[dadata_address]" value="1" />
            Подсказки для полей Адреса
            <p class="hint">
                Подсказки для заполнения улицы, города, региона, страны
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Только для ПК
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[desktop_only]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.desktop_only|default:0} checked="checked"{/if} name="route_settings[desktop_only]" value="1" />
            <p class="hint">
                Плагин работает только для настольных компьютеров и отключается для мобильных устройств.<br/> 
                Для мобильных работает стандартная корзина.
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Шаблон
        </div>
        <div class="value">
            <input class="long" type="text" name="route_settings[page_template]" value="{$route_settings.page_template|default:'page.html'|escape}" />
            <p class="hint">Шаблон темы дизайна, который использует плагин для вывода информации</p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Адрес страницы
        </div>
        <div class="value">
            <input type="text" name="route_settings[page_url]" value="{$route_settings.page_url|default:'onestep/'|escape}" />
            <p class="hint">
                Адрес страницы, по которому будет работать плагин.<br/>
                Плагин не работатет с системными адресами такими, как <strong>cart/</strong> и <strong>checkout/</strong>
            </p>
        </div>
    </div>

    <div class="field">
        <div class="name">
            Заголовок страницы
        </div>
        <div class="value">
            <input type="text" name="route_settings[page_title]" value="{$route_settings.page_title|default:'Корзина'|escape}" />
        </div>
    </div>
</div>

<div class="field-group"{if !$route_settings.status|default:0} style="display:none;"{/if}>

    <div class="field">
        <a class="edit-templates" href="#"><i class="icon16 edit"></i>Шаблоны</a>
    </div>

    <div class="templates-block">
        {foreach $templates as $key => $template}
            <div class="field">
                <div class="name">
                    {$template.name}<br /><span class="hint">HTML + Smarty</span>
                </div>
                <div class="value no-shift">
                    <a class="edit-template" href="#"><i class="icon16 edit"></i>Изменить шаблон</a>
                    <div class="template-block">
                        <textarea id="sf-template-{$key}"  class="body" name="templates[{$key}][template]">{$template.template|escape}</textarea>

                        {if $template.change_tpl}
                            <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                            <input class="reset-tpl" type="checkbox" name="templates[{$key}][reset_tpl]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
                        {/if}

                    </div>
                </div>
            </div>
        {/foreach}
        <div class="field">
            <div class="name">
                Сбросить изменения во всех шаблонах
            </div>
            <div class="value">
                <input type="checkbox" name="reset_tpl_all" value="1" />
            </div>
        </div>
    </div>
</div>