<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>
<h1>Новинки</h1>
<div     class="fields form">
    <form action="?plugin=novelties&action=save" method="post" id="plugins-settings-form">
    {$wa->csrf()}
    
    
    {literal}
    <p>{shopNoveltiesPlugin::display()} - Код хелпера вывода</p>
    {/literal}
    <p class="gray">
    <i class="icon16 exclamation"></i>
    Используя этот код Вы можете осуществить вывод "Новинок" в любом месте вашей темы оформления, это позволяет избавиться от привязки к конкретным местам вывода плагина
    </p>
    
    <div class="field">
        <div class="name">
            Статус
        </div>
        <div class="value">
            <select name="shop_novelties[status]">
                <option {if $settings.status == 1} selected="selected"{/if} value="1">Включен</option>
                <option {if $settings.status == 0} selected="selected"{/if} value="0">Выключен</option>
            </select>
        </div>
    </div>

    
    <div class="field">
        <div class="name">
            Заголовок страницы
        </div>
        <div class="value">
            <input type="text" name="shop_novelties[page_title]" value="{$settings.page_title|escape}"  />
            
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            Вывод плагина в стандартном месте
        </div>
        <div class="value">
            <select name="shop_novelties[default_output]">
                <option {if $settings.default_output == 1} selected="selected"{/if} value="1">Включен</option>
                <option {if $settings.default_output == 0} selected="selected"{/if} value="0">Выключен</option>
            </select>
            <p class="gray">
            <i class="icon16 exclamation"></i>
            Вы можете отключить стандартный вывод, это может быть полезно если вы используете хелпер вывода
            </p>
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            Количество выводимых товаров
        </div>
        <div class="value">
            <input type="text" name="shop_novelties[count]" value="{$settings.count|escape}"  />
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            Количество дней
        </div>
        <div class="value">
            <input type="text" name="shop_novelties[days]" value="{$settings.days|escape}"  />
            <p class="hint">Количество дней с момента добавления товара, в течение которых, товар считается новинкой</p>
        </div>
    </div>
    
    <div class="field">
        <div class="name">Шаблон<br /><span class="hint">HTML + Smarty</span></div>
        <div class="value no-shift">
            <div id="s-editor-core-wrapper">
                <textarea id="sf-template" class="body" name="template">{$template}</textarea>
            </div>
        </div>
        
        {if $change_tpl}
        <div class="value">
            <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
            <input type="checkbox" name="shop_novelties[reset_tpl]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
        </div>
        {/if}
    </div>


    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="Сохранить">
            <span id="plugins-settings-form-status" style="display:none">
                <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
            </span>
        </div>
    </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        var c = CodeMirror.fromTextArea(document.getElementById('sf-template'), {
            mode: "text/html",
            tabMode: "indent",
            height: "dynamic",
            lineWrapping: true
        });
        $("#sf-template").change(function() {
            c.setValue($(this).val())
        });
        $("#sf-settings").submit(function () {
            var f = $(this);
            $.post(f.attr('action'), f.serialize(), function (response) {
                if(response.status == 'ok') {
                    $('#wa-design-button').removeClass('red').addClass('green');
                    $("#wa-editor-status-fail").hide()
                    $("#wa-editor-status-ok span").html(response.data.message);
                    $("#wa-editor-status-ok").fadeIn('slow', function () {
                        $(this).fadeOut(1000);
                    });
                } else {
                    $('#wa-design-button').removeClass('green').addClass('red');
                    $("#wa-editor-status-ok").hide();
                    $("#wa-editor-status-fail span").html(response.errors.join(', '));
                    $("#wa-editor-status-fail").fadeIn('slow');
                }
            }, "json")
            return false;
        });
    });
</script>
