<p class="onestep_min_summ" style="color: red;{if $cart.total >= shop_currency($settings.min_sum, null, null, false)}display:none;{/if}">
    Вы не можете оформить заказ т.к. сумма Вашего заказа меньше суммы минимального заказа. Сумма минимального заказа {shop_currency_html($settings.min_sum)}
</p>

<div class="checkout"  {if $cart.total < shop_currency($settings.min_sum, null, null, false)}style="display:none;"{/if}>

    {if isset($checkout_steps)}
        <form class="checkout-form" method="post" action="">
            {foreach $checkout_steps as $step_id => $s}

                <div class="checkout-step step-{$step_id}" data-step="{$step_id}">

                    <h2 class="{if isset($_upcoming_flag)}upcoming{/if}">
                        <span class="gray">{$s@iteration}.</span> {$s.name}<span class="loading"></span>
                    </h2>

                    {if $s@first}
                        <div class="checkout-step-content auth" >
                            {if !$wa->user()->isAuth()}
                                <!-- authorized / not authorized selector -->
                                <ul class="menu-v">
                                    <li><label><input name="user_type" type="radio" {if !$wa->post('wa_auth_login')}checked{/if} value="0"> [`I’m a new customer`]</label></li>
                                    <li><label><input name="user_type" type="radio" {if $wa->post('wa_auth_login')}checked{/if} value="1"> [`I already have an account`]</label></li>
                                </ul>
                                <div id="login-form"{if !$wa->post('wa_auth_login')} style="display:none"{/if}>
                                    {include file="login.html" without_form=true no_header=true}
                                </div>
                                <div class="clear-both"></div>
                            {else}
                                <!-- authorized -->
                                <blockquote>
                                    <img src="{$wa->user()->getPhoto(50)}">
                                    <p>
                                        <span class="black">{sprintf("[`You are currently authorized as <strong>%s</strong>. Please verify or update your contact information using the form below. Your existing contact info will be automatically updated.`]", $wa->user('name'))}</span>
                                        <br>
                                        <em>[`If you want to place an order on behalf of another customer, <a href="?logout">log out</a> from your current profile and proceed to checkout again.`]</em>
                                    </p>
                                </blockquote>
                                <div class="clear-both"></div>
                            {/if}
                        </div>
                    {/if}

                    <div class="checkout-step-content">

                        {if in_array($step_id,['contactinfo', 'shipping', 'payment', 'confirmation'])}
                            {$checkout_tpls[$step_id]}
                        {/if}

                        <div class="clear-both"></div>

                        {if $s@last}
                            <div class="float-right">
                                <input name="confirmation" type="hidden" value="1" >
                                <input type="submit" class=" large bold" value="[`Place order`]">
                            </div>
                        {/if}
                        <div class="clear-both"></div>
                    </div>

                </div>

            {/foreach}
        </form>
    {/if}

</div>

<script type="text/javascript">
    (function($) {
        "use strict";
        $.onestep = {
            options: {},
            init: function(options) {
                this.options = options;

                this.formChange();
                this.formSubmit();
                this.checkMinOrder();

                this.initContactinfo();
                this.initShipping();
                this.initPayment();
                this.initConfirmation();
            },
            checkMinOrder: function() {
                var self = this;
                setInterval(function() {
                    if (self.options.total == $('.cart-total').html()) {
                        return false;
                    }
                    for (var i in self.options.steps) {
                        $('.step-' + self.options.steps[i] + ' h2 span.loading').html('<i class="icon16 loading"></i>');
                    }
                    $("form.checkout-form").find('[name=confirmation]').attr('disabled', 'disabled');
                    $("form.checkout-form").find('[type=submit]').attr('disabled', 'disabled');

                    $.post(window.location, $("form.checkout-form").serialize() + $('.onestep-cart-form').serialize(), function(response) {
                        for (var i in self.options.steps) {
                            var step = self.options.steps[i];
                            var html = $(response).find('.step-' + step).html();
                            $('.step-' + step).html(html);
                            switch (step) {
                                case 'contactinfo':
                                    self.initContactinfo();
                                    break;
                                case 'shipping':
                                    self.initShipping();
                                    break;
                                case 'payment':
                                    self.initPayment();
                                    break;
                                case 'confirmation':
                                    self.initConfirmation();
                                    break;
                            }
                        }
                    });

                    $.post(self.options.check_url, function(response) {
                        if (response.data.check) {
                            $('.checkout').show();
                            $('.onestep_min_summ').hide();
                        } else {
                            $('.checkout').hide();
                            $('.onestep_min_summ').show();
                        }
                    }, 'json');

                    self.options.total = $('.cart-total').html();
                }, 500);
            },
            formChange: function() {
                var self = this;
                $("form.checkout-form").on('change', 'input:not([name="user_type"],[name="login"],[name="password"],#create-user,[type="checkbox"]),select', function() {
                    var f = $(this).closest("form.checkout-form");
                    var cur_step = $(this).closest('.checkout-step').data('step');
                    var j = self.options.steps.indexOf(cur_step);

                    $(f).find('[name=confirmation]').attr('disabled', 'disabled');
                    $(f).find('[type=submit]').attr('disabled', 'disabled');
                    $.post(f.attr('action') || window.location, f.serialize() + $('.onestep-cart-form').serialize(), function(response) {
                        var j = self.options.steps.indexOf(cur_step);
                        for (var i in self.options.steps) {
                            if (i > j) {
                                var step = self.options.steps[i];
                                var html = $(response).find('.step-' + step).html();
                                $('.step-' + step).html(html);
                                switch (step) {
                                    case 'contactinfo':
                                        self.initContactinfo();
                                        break;
                                    case 'shipping':
                                        self.initShipping();
                                        break;
                                    case 'payment':
                                        self.initPayment();
                                        break;
                                    case 'confirmation':
                                        self.initConfirmation();
                                        break;
                                }
                            }
                        }
                    });
                    for (var i in self.options.steps) {
                        if (i > j) {
                            $('.step-' + self.options.steps[i] + ' h2 span.loading').html('<i class="icon16 loading"></i>');
                            $('.step-' + self.options.steps[i]).find('input, select').attr('disabled', 'disabled');
                        }
                    }

                });
            },
            formSubmit: function() {
                $("form.checkout-form").on('submit', function() {
                    var f = $(this);
                    if (f.hasClass('last') || ($("#login-form").length && !$("#login-form input:submit").attr('disabled'))) {
                        return true;
                    }

                    if ($("form.checkout-form").find('input[name="shipping_id"]').length && !$("form.checkout-form").find('input[name="shipping_id"]:checked').not(':disabled').length) {
                        if (!f.find('em.errormsg').length) {
                            $('<em class="errormsg inline">' + ('[`Please select shipping option`]') + '</em>').insertBefore(f.find('input:submit:last'));
                        }
                        return false;
                    } else if ($("form.checkout-form").find('input[name="payment_id"]').length && !$("form.checkout-form").find('input[name="payment_id"]:checked').not(':disabled').length) {
                        if (!f.find('em.errormsg').length) {
                            $('<em class="errormsg inline">' + ('[`Please select payment option`]') + '</em>').insertBefore(f.find('input:submit:last'));
                        }
                        return false;
                    } else {
                        f.find('em.errormsg').remove();
                    }
                    return true;
                });
            },
            initContactinfo: function() {
                this.createUser();
                this.auth();
            },
            initShipping: function() {
                this.checkoutOptions();
                this.addressChange();
                this.shippingRates();
            },
            initPayment: function() {
                this.paymentOptions();
            },
            initConfirmation: function() {

            },
            createUser: function() {
                var e = $('input[name="customer[email]"]');
                if (e.length) {
                    e.on('keyup', function() {
                        if ($("#create-user-div").is(':visible')) {
                            $('#create-user-div input[name="login"]').val($(this).val());
                        }
                    });
                    $('#create-user-div input[name="login"]').on('keyup', function() {
                        e.val($(this).val());
                    })
                }
                $("#create-user").change(function() {
                    if ($(this).is(':checked')) {
                        $("#create-user-div").show().find('input').removeAttr('disabled');
                        var l = $(this).closest('form').find('input[name="customer[email]"]');
                        if (l.length && l.val()) {
                            $('#create-user-div input[name="login"]').val(l.val());
                        }
                    } else {
                        $("#create-user-div").hide().find('input').attr('disabled', 'disabled').val('');
                    }
                }).change();
            },
            auth: function() {
                $("#login-form input").attr('disabled', 'disabled');
                $("input[name='user_type']").change(function() {
                    if ($("input[name='user_type']:checked").val() == '1') {
                        $("#login-form input").removeAttr('disabled');
                        $(this).closest('div.auth').next(".checkout-step-content").hide();
                        $("input[type=submit]:last").hide();
                        $("#login-form").show();
                    } else {
                        $("#login-form input").attr('disabled', 'disabled');
                        $("#login-form").hide();
                        $(this).closest('div.auth').next(".checkout-step-content").show();
                        $("input[type=submit]:last").show();
                    }
                });
                $("input[name='user_type']").change();
            },
            checkoutOptions: function() {
                $(".checkout-options input:radio").change(function() {
                    if ($(this).is(':checked') && !$(this).data('ignore')) {
                        $(".checkout-options .wa-form").hide();
                        $(this).closest('li').find('.wa-form').show();
                        if ($(this).data('changed')) {
                            $(this).closest('li').find('.wa-form').find('input,select').data('ignore', 1).change().removeData('ignore');
                            $(this).removeData('changed');
                        }
                    }
                });
            },
            shippingRates: function() {
                $(".checkout-options").on('change', "select.shipping-rates", function(e, not_check) {
                    var opt = $(this).children('option:selected');
                    var li = $(this).closest('li');
                    li.find('.price').html(opt.data('rate'));
                    if (!not_check) {
                        li.find('input:radio').attr('checked', 'checked');
                    }
                    li.find('.est_delivery').html(opt.data('est_delivery'));
                    if (opt.data('est_delivery')) {
                        li.find('.est_delivery').parent().show();
                    } else {
                        li.find('.est_delivery').parent().hide();
                    }
                    if (opt.data('comment')) {
                        li.find('.comment').html('<br>' + opt.data('comment')).show();
                    } else {
                        li.find('.comment').empty().hide();
                    }
                });
            },
            addressChange: function() {
                var self = this;
                $(".wa-address").find('input,select').change(function() {
                    if ($(this).data('ignore')) {
                        return true;
                    }
                    var shipping_id = $("input[name=shipping_id]:checked").val();
                    var loaded_flag = false;
                    setTimeout(function() {
                        if (!loaded_flag && !$(".shipping-" + shipping_id + " .price .loading").length) {
                            $(".shipping-" + shipping_id + " .price").append(' <i class="icon16 loading"></i>');
                        }
                    }, 300);
                    var v = $(this).val();
                    var name = $(this).attr('name').replace(/customer_\d+/, '');
                    $(".checkout-options input:radio").each(function() {
                        if ($(this).val() != shipping_id) {
                            var el = $(this).closest('li').find('[name="customer_' + $(this).val() + name + '"]');
                            if (el.attr('type') != 'hidden') {
                                el.val(v);
                                $(this).data('changed', 1);
                            }
                        }
                    });
                    $.post(self.options.shipping_url, $("form").serialize(), function(response) {
                        loaded_flag = true;
                        self.responseCallback(shipping_id, response.data);
                    }, "json");
                });
            },
            paymentOptions: function() {
                $(".checkout-options.payment input:radio").change(function() {
                    if ($(this).is(':checked')) {
                        $(".checkout-options.payment .wa-form").hide();
                        $(this).closest('li').find('.wa-form').show();
                    }
                });
            },
            responseCallback: function(shipping_id, data) {
                var name = 'rate_id[' + shipping_id + ']';
                if (typeof (data) != 'string') {
                    $(".shipping-" + shipping_id + ' input:radio').removeAttr('disabled');
                }
                if (typeof (data) == 'string') {
                    $(".shipping-" + shipping_id + ' input[name="' + name + '"]').remove();
                    $(".shipping-" + shipping_id + ' select[name="' + name + '"]').remove();
                    var el = $(".shipping-" + shipping_id).find('.rate');
                    if (el.hasClass('error')) {
                        el.find('em').html(data);
                    } else {
                        el.find('.price, .hint').hide();
                        el.addClass('error').append($('<em class="shipping-error"></em>').html(data));
                    }
                } else if (data.length > 1) {
                    $(".shipping-" + shipping_id + ' input[name="' + name + '"]').remove();
                    var select = $(".shipping-" + shipping_id + ' select[name="' + name + '"]');
                    var html = '<select class="shipping-rates" name="' + name + '">';
                    for (var i = 0; i < data.length; i++) {
                        var r = data[i];
                        html += '<option data-rate="' + r.rate + '" data-comment="' + (r.comment || '') + '" data-est_delivery="' + (r.est_delivery || '') + '" value="' + r.id + '">' + r.name + ' (' + r.rate + ')</option>';
                    }
                    html += '</select>';
                    if (select.length) {
                        var selected = select.val();
                        select.remove();
                    } else {
                        var selected = false;
                    }
                    select = $(html);
                    $(".shipping-" + shipping_id + " h3").append(select);
                    if (selected) {
                        select.val(selected);
                    }
                    select.trigger('change', 1);
                    $(".shipping-" + shipping_id).find('.rate').removeClass('error').find('.price').show();
                    $(".shipping-" + shipping_id).find('.rate em.shipping-error').remove();
                } else {
                    $(".shipping-" + shipping_id + ' select[name="' + name + '"]').remove();
                    var input = $(".shipping-" + shipping_id + ' input[name="' + name + '"]');
                    if (input.length) {
                        input.val(data[0].id);
                    } else {
                        $(".shipping-" + shipping_id + " h3").append('<input type="hidden" name="' + name + '" value="' + data[0].id + '">');
                    }
                    $(".shipping-" + shipping_id + " .price").html(data[0].rate);
                    $(".shipping-" + shipping_id + " .est_delivery").html(data[0].est_delivery);
                    $(".shipping-" + shipping_id).find('.rate').removeClass('error').find('.price').show();
                    if (data[0].est_delivery) {
                        $(".shipping-" + shipping_id + " .est_delivery").parent().show();
                    } else {
                        $(".shipping-" + shipping_id + " .est_delivery").parent().hide();
                    }
                    if (data[0].comment) {
                        $(".shipping-" + shipping_id + " .comment").html('<br>' + data[0].comment).show();
                    } else {
                        $(".shipping-" + shipping_id + " .comment").hide();
                    }
                    $(".shipping-" + shipping_id).find('.rate em.shipping-error').remove();
                }
            }
        };
    })(jQuery);</script>

<script type="text/javascript">
    $.onestep.init({
        steps: ['{implode("', '", array_keys($checkout_steps))}'],
        check_url: '{$wa_app_url}onestepcheck/',
        total: $('.cart-total').html(),
        shipping_url: "{$wa->getUrl('/frontend/shipping')}"
    });
    $(document).ready(function() {
        if ($('.checkout-step .error:visible').length) {
            var destination = $('.checkout-step .error:visible').offset().top;
            if ($.browser.safari) {
                $('body').animate({
                    scrollTop: destination
                }, 1100);
            } else {
                $('html').animate({
                    scrollTop: destination
                }, 1100);
            }
        }
    });
</script>